body {
  font-family: Helvetica;
  text-align: center;
}
.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
#footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11;
  color: white;
}
#about {
  font-weight: bold;
  font-size: 23;
}
a {
  color: white;
  font-weight: bold;
}
p.process {
  font-size: 32;
}
