body {
  font-family: Helvetica;
  text-align: center;
}
.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
#footer {
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
  color: white;
}
a {
  color: white;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
